<!DOCTYPE html>
<html lang="en">

<head>
    <title>Confirm Seeds</title>
    <%- include('layout/header') %>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const socket = io();
                let password = null;

                // Function to handle result of Qwallet call
                function handleResult(msg) {
                    const result = JSON.parse(msg.value);
                    const flag = msg.flag;
                    if (flag == 'relogin' && password) {
                        if (result.result == 0) {
                            // Create a form element
                            const form = document.getElementById('confirm');

                            // Add result input to form
                            const resultInput = document.createElement('input');
                            resultInput.type = 'hidden';
                            resultInput.name = 'result';
                            resultInput.value = JSON.stringify(result);
                            form.appendChild(resultInput);

                            form.submit();
                        }
                    }
                }

                // Send command to QWallet
                function callLoginQwallet(_password) {
                    password = _password;
                    socket.emit('run', { command: `login ${_password}`, flag: 'relogin' });
                }

                socket.on('result', handleResult);

                let createBtnClicked = false;

                // Setup button click handlers
                $("#create-btn").click(() => {
                    createBtnClicked = true;
                    document.getElementById('create-btn').disabled = true;
                    callLoginQwallet("<%= password%>");
                });
            });
        </script>
</head>

<body>

    <div class="container">
        <img class="logo" src="./assets/images/logo.png" width="100px" />
        <h2>Confirm Seeds</h2>
        <div class="description">
            Please enter the backup seeds you have saved.
        </div>
        <form method="POST" action="/confirm" id="confirm">
            <% let ulClass='' ; if (password.startsWith('Q')) { ulClass='start-q' } %>
                <ul id="seeds" class="<%=ulClass %>">
                    <% if(password.startsWith('Q')) { %>
                        <li>
                            <input type="text" value="<%= confirmSeeds[0] %>" name="seed0" class="check" />
                        </li>
                        <% } else { %>
                            <% for(let i=0; i < 24; i ++) { %>
                                <li>
                                    <span>
                                        <%= i + 1 %>
                                    </span>
                                    <input type="text" value="<%= confirmSeeds[i] %>" name="seed<%= i %>"
                                        class="check" />
                                </li>
                                <% } %>
                                    <% } %>
                </ul>
                <div class="btn-group">
                    <input type="button" value="Back" id="back-btn" onclick="window.location.assign('/create')">
                    <input type="button" value="Create" id="create-btn">
                </div>
        </form>
    </div>
    <script src="./assets/javascript/script.js"></script>
    <script>
        if (document.location.href.includes('notmatch')) {
            Toastify({
                text: "Please input correct seeds.",
                className: "warning",
                style: {
                    background: "red",
                    color: "white",
                }
            }).showToast();
        }
    </script>
</body>

</html>